{% load static %} 
<!--this is likely the culprit. need to activate image stuff before using load static def-->
<!doctype html>
<html>
    <head>
        <title>Cat Pics</title>
    </head>
    
    <body>
        <h1>Here is a list of my cat's names:</h1>
        <ul>
            <li>Archer</li>
            <li>Tony</li>
            <li>Destro</li>
        </ul>
        <h2>Click to go back to Home page</h2>
        <a href="{% url 'home' %}">Home</a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Octopus-yacht.jpg/300px-Octopus-yacht.jpg">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/401_Gridlock.jpg">
    </body>
</html>