{% load static %}
<!doctype html>
<html>
    <head>
        <title>Additional Resources</title>
    </head>
    
    <body>
        <h1>Here are a list of additional resources:</h1>
        <ul>
            <li>w3.org</li>
            <li>Library of Congress</li>
            <li>w3schools..com</li>
        </ul>
        <h2>Click to go back to Home page</h2>
        <a href="{% url 'home' %}">Home</a>
        <h3>While you're here: here's Al Gore!</h3>
        <img src="https://en.wikipedia.org/wiki/Al_Gore_and_information_technology#/media/File:Algoretestifying.jpeg">
      
    </body>
</html>