{% load static %}
<!doctype html>
<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <h1>ITIN 8000 Fall 2023</h1>
        <h2>A Short History of HTML</h2>
        <p>This sample site was built in VS Code with django and Python. Here, I hope to cover some of the 
            basic history of HTML and its development.
        </p>
        <!--
        <h2>Click to go to the resources page.</h2>
        <a href="{% url 'my_web:resources' %}">Resources</a>
        -->
    </body>
</html>